{% include 'index.html' %}

{% block content %}
    <div class="container"></div>
    <div class="col col-lg-9">
    {% for entry in entries %}
            <h2><a href="{% url 'comments:entry_detail' entry.pk %}">{{entry.title}}</a></h2>
            <p>{{ entry.snippet }}</p>
            <p>{{ entry.pub_date }}</p>
            <br>
    {% endfor %}
    </div>
    <div class="col col-lg-3">
        <div style="align-content:center">
            <a href="make_entry"><button class="btn btn-primary btn-lg">Make Post</button></a>
        </div>
    </div>
    </div>
{% endblock %}