{% include 'index.html' %}
<div class=row>
{% block content %}
    <div class="col col-lg-9" style="padding-left: 24px">
        {% for entry in entries %}
            <div class="card">
                <div class="card-body" style="padding:12px">
                    <div class="card-title">
                        <h4><a href="{% url 'comments:entry_detail' entry.pk %}">{{entry.title}}</a></h4>
                    </div>
                    <div class="card-text">
                        {{ entry.snippet }}
                    </div>

                    <div class="card-footer text-muted">
                        {{ entry.pub_date }}
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <div class="col col-lg-3">
        <div style="text-align: center">
            <a href="make_entry"><button class="btn btn-primary btn-lg">Make Post</button></a>
        </div>
    </div>
</div>
{% endblock %}