{% include 'index.html' %}

{% block content %}
    <div style="padding-left: 24px">
        <h2>{{ entry.title }}</h2>
        <p style="font-size: 18px">{{ entry.text }}</p>
        <p>{{ entry.pub_date }}</p>
        <br>
        <small>VOTES: {{entry.votes}}</small>
        <br>
        <a href="{% url 'comments:upvote' entry.pk %}"><button >upvote</button> </a>
        <a href="{% url 'comments:upvote' entry.pk %}"><button >downvote</button> </a>

        <div>
            <form action="{% url 'comments:make_comment' entry.pk %}" method="POST">{% csrf_token %}
                <textarea name="text" id="text" cols="60" rows="5"></textarea>
                <br>
                <input type="submit" value="Comment">
            </form>
        </div>

        <div>
        {% for comment in comments %}
            <div class="card">
                <p style="font-size: 16px" >{{ comment.name }}</p>
                <p style="font-size: 14px"> {{ comment.text }} </p>
                <small>VOTES: {{ comment.votes }}</small> 
                <p><small>{{ comment.pub_date }}</small></p>
            </div>
            <br>
        {% endfor %}
    </div>

</div>
    
{% endblock %}